body, p {
    font-family: 'Poppins', sans-serif;
}
.card-title {
    font-family: 'Poppins', sans-serif;
    color: rgb(191, 178, 178);
}
h1, h2, h3, H4,h5, .navbar-brand, .subtitulo {
    font-family: 'Playfair Display', serif;
}
.bg-degradado-dorado {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #000000, #b79d50);
    color: white;
    transition: background 0.5s ease-in-out;
}
.bg-degradado-dorado-invertido {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, #000000, #b79d50);
    color: white;
    transition: background 0.5s ease-in-out;
    z-index: 1;
}
.bg-degradado-dorado::before {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #000000;
    transition: right 0.8s ease-in-out;
    z-index: 2;
}
.bg-degradado-dorado:hover::before {
    right: 0;
    z-index: 1;
}
.bg-degradado-dorado > * {
    position: relative;
    z-index: 1;
}
.bg-degradado-dorado-fijo {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #000000, #b79d50);
    color: white;
}
.btn-dorado {
    background-color: #b79d50;
    color: #000;
    border: none;
}
.btn-dorado:hover {
    background-color: #000;
    color: #b79d50;
    border: 1px solid #b79d50;
}
.titulo-con-linea::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
}
.img-servicio {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.bg-blanco {
    background-color: white;
}
.bg-negro {
    background-color: rgb(0, 0, 0);
    color: white;
}
.bg-dorado {
    background-color: #b79d50;
}
.dorado{
    color: #f8cc49;
}
.img-servicio{
    z-index: 4;
}
.sub-title{
    font-size: 50px;
}
.banner{
    background-image: url(../public/img/portada-law-sport-1.jpg);
    width: 100%;                /* Ocupa todo el ancho disponible */
    height: 300px;
    background-size: cover;     /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;/* Centra la imagen si se recorta */
    background-repeat: no-repeat;/* Evita que se repita */
    display: flex;               /* Activa Flexbox */
    align-items: center;         /* Centra verticalmente */
    justify-content: center;     /* Centra horizontalmente */
    text-align: center;          /* Centra el texto si es de varias líneas */
    color: white;  
    margin-top: 5%;
    margin-bottom: 5%;
}
.banner h1 {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    max-width: 90%;
    font-size: large;
    text-shadow: 
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px  1px 0 #000, 
    1px  1px 0 #000;
    padding-left: 15px;
    padding-right: 15px;
}
.seccionInfo{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 8px;
}
.seccionInfo-titulo{
    padding-bottom: 10px;
    padding-top: 10px;
}
.seccionInfo-contenido{
    width: 90%;
    padding-left: 7%;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.linea-doble {
    border: none;
    height: 7px; /* 2px línea superior + 3px espacio + 2px línea inferior */
    width: 100%;
    background: linear-gradient(
    to bottom,
    #fff 0px,
    #fff 2px,
    transparent 1px,
    transparent 4px,
    #fff 6px,
    #fff 5px
    );
}
.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.link-blanco {
    color: white;
    text-decoration: none;
}
#whatsapp {
    position: fixed;
    bottom: 30px;
    right:30px;
    z-index: 10;
 }
 ul.listaSinViñeta{
    list-style-type: none;
 }

 ul h5 {
    text-decoration: underline;
 }