<!DOCTYPE html>
<html lang="en">
<head>
    <title>Planificación Fiscal Estrategica</title>
    include head.pug
</head>
<body class="bg-black">
  //-Navbar-//
  include header.pug
  //-Contenido Principal-//
  .container#containerAccordion
    include accordion.pug
    img#imagenAccordion(src="https://placehold.co/400x766?text=Imagen+representativa")

</body>
</html>